Package: plymouth-x11
Source: plymouth
Version: 0.9.4git20200323-0ubuntu6.2
Architecture: amd64
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 73
Depends: plymouth (= 0.9.4git20200323-0ubuntu6.2), libc6 (>= 2.17), libcairo2 (>= 1.2.4), libglib2.0-0 (>= 2.12.0), libgtk-3-0 (>= 3.21.4), libplymouth5 (>= 0.9.3)
Recommends: plymouth-theme-spinner | plymouth-theme
Suggests: gdm
Section: misc
Priority: optional
Homepage: http://www.freedesktop.org/wiki/Software/Plymouth
Description: boot animation, logger and I/O multiplexer - X11 renderer
 Plymouth provides a boot-time I/O multiplexing framework - the most obvious
 use for which is to provide an attractive graphical animation in place of
 the text messages that normally get shown during boot. (The messages are
 instead redirected to a logfile for later viewing.) However, in event-driven
 boot systems Plymouth can also usefully handle user interaction such as
 password prompts for encrypted file systems.
 .
 This package contains the X11 renderer for a graphical boot splash.
Original-Maintainer: Laurent Bigonville <bigon@debian.org>
